DAW/LM/XML/Act2U3_Javierse/Act2.5U3JavierSE.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="expediente">
        <xs:sequence>
            <xs:element name="titulacion" type="xs:string"/>
            <xs:element name="estudiante" type="xs:string"/>
            <xs:element name="modulo">
                <xs:complexType>
                    <xs:attribute name="nombre" type="xs:string" use="required"/>
                    <xs:attribute name="aprobado" type="xs:boolean" use="required"/>
                    <xs:attribute name="curso" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Primero"/>
                                <xs:enumeration value="Segundo"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>