DAW/LM/XML/Act2U3_Javierse/Act2.2U3JavierSE.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="incidencia">
        <xs:sequence>
            <xs:element name="cliente" type="xs:string" minOccurs="1"/>
            <xs:element name="fecha_y_hora" type="xs:date"/>
            <xs:element name="tipo">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="tecnica"/>
                        <xs:enumeration value="de facturacion"/>
                        <xs:enumeration value="de servicio"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>