DAW/LM/XML/Act2U3_Javierse/Act2.3U3JavierSE.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="serie">
        <xs:sequence>
            <xs:element name="titulo" type="xs:string"/>
            <xs:element name="fecha_de_estreno" type="xs:date"> </xs:element>
            <xs:element name="temporadas">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="temporadas">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="comedia"/>
                        <xs:enumeration value="drama"/>
                        <xs:enumeration value="ciencia_ficcion"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>