DAW/LM/XML/Act2U3_Javierse/Act2.4U3JavierSE.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="pedido">
        <xs:sequence>
            <xs:element name="nombre_cliente" type="xs:string"/>
            <xs:element name="direccion" type="xs:string"/>
            <xs:element name="fecha" type="xs:date"/>
            <xs:element name="productos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombre" type="xs:string"/>
                        <xs:element name="precio" type="xs:integer"/>
                    </xs:sequence>
                    <xs:attribute name="cantidad" type="xs:integer" use="required"/>
                </xs:complexType>                
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>